main/__pycache__/
main/__pycache__/__init__.cpython-314.pyc
main/__pycache__/admin.cpython-314.pyc
main/__pycache__/apps.cpython-314.pyc
main/__pycache__/models.cpython-314.pyc
main/__pycache__/urls.cpython-314.pyc
main/__pycache__/views.cpython-314.pyc
main/migrations/__pycache__/__init__.cpython-314.pyc
main/migrations/__pycache__/0001_initial.cpython-314.pyc
main/migrations/__pycache__/0002_librarian_alter_client_role.cpython-314.pyc
taskmanager/__pycache__/__init__.cpython-314.pyc
taskmanager/__pycache__/settings.cpython-314.pyc
taskmanager/__pycache__/urls.cpython-314.pyc
taskmanager/__pycache__/wsgi.cpython-314.pyc
main/__pycache__/__init__.cpython-314.pyc
main/__pycache__/admin.cpython-314.pyc
main/__pycache__/apps.cpython-314.pyc
main/__pycache__/models.cpython-314.pyc
main/__pycache__/urls.cpython-314.pyc
main/__pycache__/views.cpython-314.pyc
/.venv/
